.glyphicon-home{
    font-size: 30px;
}

.list-group-item {
    position: relative;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #222;
}

.row {
    padding-right: 500px;
}

.navbar-brand.glyphicon-home{
    font-size: 20px;
}

.btn {
    display: inline-block;
    padding: 6px 11px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.form-control {
    display: block;
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.productImage{
    width: 30%;
    height: 20%;
}


.searchBar {
    margin-left: 20px;
    margin-top: -60px;
    width:50%;
}

.categoryBar {
    margin-left: 300px;
}

.navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
    margin-left: -65px;
}

h2 {
    color: antiquewhite;
}

label {
    color:antiquewhite;
}

th {
    color: antiquewhite;
}

td {
    color: antiquewhite;
}

p.cartSum {
    color: antiquewhite;
}

.col-md-5.ng-binding {
    color: antiquewhite;
}

